<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-lg-3" style="margin: auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">新增資料</h5>
                    <form name="form1" onsubmit="checkForm(); return false;">
                        <div class="mb-3">
                            <label for="member_name" class="form-label">姓名</label>
                            <input type="text" class="form-control" id="member_name" name="member_name">
                        </div>
                        <div class="mb-3">
                            <label for="member_bir" class="form-label">生日</label>
                            <input type="text" class="form-control" id="member_bir" name="member_bir">
                        </div>
                        <div class="mb-3">
                            <label for="member_mob" class="form-label">手機號碼</label>
                            <input type="text" class="form-control" id="member_mob" name="member_mob">
                        </div>
                        <div class="mb-3">
                            <label for="member_addr" class="form-label">地址</label>
                            <input type="text" class="form-control" id="member_addr" name="member_addr">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../parts/script') %>
<script>
    function checkForm() {
        //資料檢查
        const fd = new FormData(document.form1);
        console.log([...fd]);
        const usp = new URLSearchParams(fd);
        const dataObj = {};
        for (let i of fd) {
            dataObj[i[0]] = i[1];
        }
        console.log({dataObj});
        //TODO:檢查資料格式
        /*
                fetch('member/add2', {
                    method:'POST',
                    body: fd,
                }).then(r=>r.json())
                .then(obj=>{
                    console.log(obj);
                })

         */
        fetch('', {
            method: 'POST',
            body: JSON.stringify(dataObj),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(r => r.json())
            .then(obj => {
                console.log(obj);
            });
    }

    const Joi = joi;
    const schema = Joi.object({
        username: Joi.string().alphanum().min(6).max(20).required(),

        age: Joi.number().required(),
    });
    /*
    console.log(schema.validate({username: 'wil', age: 'xyz'}));
    console.log(schema.validate({username: 'wil', age: 'xyz'}, {abortEarly: false}));
    console.log(schema.validate({username: 'wilsonChen', age: '25'}));
     */

</script>
<%- include('../parts/html-foot') %>
